* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
:before,:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
    font-family: 'SofiaProRegular';
	font-size: 18px;
	font-weight: 400;
}

.wrapper{
	width: 100%;
	overflow: hidden;

}
._container{
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 10px;
}
._container{
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 10px;
}
/*--------------------------*/
.header {
	font-family: 'TTCommons-Medium';
	position: absolute;/*---------изменено-----------------*/
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	font-size: 17px;
    height: 90px;
    background-color: antiquewhite;
	
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
   
}

a{
   position: relative;
    text-decoration: none;
    color:rgb(37, 37, 37);
    margin-left: 40px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.faa:hover{
    animation: move .3s ease-in;
    transform: rotate(180deg) scaleX(-1);
}
@keyframes move {
    from {
        transform: rotate(0deg) scaleX(-1);
      
    }
    50% {transform: rotate(90deg) scaleX(-1);}
    to { 
        transform: rotate(180deg) scaleX(-1);
    }  
  }
.dropbtn{
    font-size: 20px;
    background-color: rgb(156, 153, 153,0) ;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: rgb(156, 153, 153);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: rgb(67, 66, 66);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*=======humburger=======*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }