* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
:before,:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
    font-family: 'SofiaProRegular';
	font-size: 18px;
	font-weight: 400;
}

.wrapper{
	width: 100%;
	overflow: hidden;

}
._container{
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 10px;
}
._container{
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 10px;
}
/*--------------------------*/
.header {
	font-family: 'TTCommons-Medium';
	position: absolute;/*---------изменено-----------------*/
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	font-size: 17px;
    height: 90px;
    background-color: antiquewhite;
	
}
.menu-list{
    display: flex;
   
    align-items: center;
    height: 90px;
   
}

a{
   position: relative;
    text-decoration: none;
    color:rgb(37, 37, 37);
    margin-left: 40px;
}
.header-nav{
    display: flex;
   
    align-items: center;
    height: 90px;
}
.faa:hover{
    animation: move .3s ease-in;
    transform: rotate(180deg) scaleX(-1);
}
@keyframes move {
    from {
        transform: rotate(0deg) scaleX(-1);
      
    }
    50% {transform: rotate(90deg) scaleX(-1);}
    to { 
        transform: rotate(180deg) scaleX(-1);
    }  
  }
.dropbtn{
    font-size: 20px;
    background-color: rgb(156, 153, 153,0) ;
    margin-left: 36px;
    font-size: 15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: rgb(156, 153, 153);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: rgb(67, 66, 66);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*=======humburger=======*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  .search{
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  .search-lupa{
    margin-right: 20px;
    font: normal normal normal 14px/1 FontAwesome;
  }
  .search-lupa::before{
    content: "\f002";
  }


.search:hover .search-lupa {
     
        
        animation: lupa 0.8s ease-in;
       
    
}
@keyframes lupa {
    from {
        transform: scale(0, 0) 
        
    }
   50%{
        transform: scale(0.5, 0.5) 

   }
    to { 
        transform: scale(1, 1) 
    }  
  
  }
  .account{
    margin-left: 50px;

  }
  /*slider*/
  .slick-track{
	display: flex;
}

.slider{
	position: relative;
	padding: 0 40px;
    display: flex;
    justify-content: space-between;

}
.slider .slick-arrow{
	position: absolute;
	margin: -30px 0px 0px 0px;
	top:50%;
	z-index: 10;
	font-size: 0;
	width: 60px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
    position: absolute;
	z-index: 20;
	display: block;
	left: 0px;
	background: url('<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 6.3499999 6.3500002" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="layer1" transform="translate(0 -290.65)"><path id="path9429" d="m2.2580394 291.96502a.26460982.26460982 0 0 0 -.1741496.46871l1.6190225 1.38699-1.6190225 1.38648a.26460982.26460982 0 1 0 .3436483.40049l1.8536335-1.58595a.26460982.26460982 0 0 0 0-.40256l-1.8536335-1.5875a.26460982.26460982 0 0 0 -.1694987-.0667z" font-variant-ligatures="normal" font-variant-position="normal" font-variant-caps="normal" font-variant-numeric="normal" font-variant-alternates="normal" font-feature-settings="normal" text-indent="0" text-align="start" text-decoration-line="none" text-decoration-style="solid" text-decoration-color="rgb(0,0,0)" text-transform="none" text-orientation="mixed" white-space="normal" shape-padding="0" isolation="auto" mix-blend-mode="normal" solid-color="rgb(0,0,0)" solid-opacity="1" vector-effect="none" fill="#000000" data-original="#000000" class=""></path></g></g></svg>') 0 0 no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
	right: 40px;
	background: url('./img/next.png')0 0 no-repeat;
}
.slider__item{
   
   
    background-color: #F6F4F9;
    border-radius: 9px;
    
}
.slider__item:not(:last-child){
    margin-right: 30px;
}